<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About TumorTRACE.AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="/" class="brand">TumorTRACE.AI</a>
        </div>
        <div class="navbar-right">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/login">Login</a>
        </div>
    </nav>

    <div class="container about-container">
        <h2 class="header-text">LOGIN</h2>
        <p>
            Coming Soon...
        </p>
        
    </div>
    
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/bit.png') }}" alt="TumorTRACE.AI Logo">
    </div>
    
</body>
</html>
